/* -------------------------------------------------------------------]
[                                                                     ]
[ 								GENERAL                               ]
[                                                                     ] 
[------------------------------------------------------------------- */

body {
	margin: 0;
	padding: 0;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
	background: url(images/tile-header.png) #f5f5f5;
}

body::after {
	content: '';
	height: 10px;
	width: 100%;
	background: rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 10px;
	left: 0;
}

#header {
	height: 10px; 
	background: url(images/tile-footer.png) #f5f5f5;
}

.hmenu {}

	.wrapper-hmenu {width: 1000px; margin: auto; background-color: #fff; position: relative; height: 80px;}

	.logo {position: absolute; width: 500px; top: 30px; left: 30px; font-family: 'PT Sans Narrow', sans-serif; font-weight: bold; font-size: 40px;}

		.hmenu .part1 {color: rgb(10,4,5);}
		.hmenu .part2 {color: rgb(174,174,174);}
		.hmenu .part3 {color: #355F9C; font-weight: normal;}
		.hmenu .part4 {
			margin-left: 10px;
			font-size: 16px;
			background-color: #900;
			color: white;
			padding: 3px;
			letter-spacing: 1px;
			padding-top: 44px;
		}		

	.search {}

.site {
	width: 1000px;
	margin: auto;
	background: #fff;
	padding-bottom: 20px;
}
	
	.vmenu {
		float: left;
		width: 180px;
		font-family: 'PT Sans Narrow', sans-serif;
		margin-left: 30px;
		font-size: 20px;
		margin-top: 20px;
		border-right: 10px solid #355F9C;
	}

	#page {
		float: left;
		width: 700px;
		margin-left: 50px;
		padding: 20px 20px 0 10px;
	}
	
#footer {
	height: 200px; 
	background: url(images/tile-footer.png) #f5f5f5;
	border-top: 10px solid #1d1d1d;
    box-shadow: 0 -10px 0 rgba(0, 0, 0, 0.1);
}

/* LINKS */	
a {color: #355F9C;text-decoration: none;}
a:hover {text-decoration: underline;}
#footer a {text-decoration: none; color: #6e6e6e;}
#footer a:hover {text-decoration: underline; color: #525252;}
.jGrowl a {text-decoration: none; color: #fff;}
.jGrowl a:hover {text-decoration: underline;}
h2 a {text-decoration: none; color: #fff;}
h2 a:hover {text-decoration: none;}
.jtiprel {cursor: help;}
.jtiprel.black {color: #333;}
.jtiprel.blue {color: #009;}
.jtiprel.purple {color: #609;}
.jtiprel.orange {color: #f60;}
.jtiprel:hover {text-decoration: none;}

.icon4 {margin-bottom: -4px;}
.fright {float: right;}
.clearleft {clear: left;}
.clearright {clear: right;}
.clearBoth {clear: both;}

/* TABLE */
table {font-family: 'PT Sans', sans-serif;}
.table1 {width: 100%; border-collapse: collapse; margin-bottom: 20px;}
.table1 th {text-align: left; font-size: 10px;}
.table1 td {text-align: left; border: 1px solid #eee; padding-left: 2px;}
tr:not(.first) {height: 30px;}
tr:not(.first):hover {background-color: #eee;}
tr.not_seen {background-color: #fee;}
th.lenmax {}
th.len150 {width: 150px;}
th.len100 {width: 100px;}

/* FORUM autres */
.type2 {font-size: 10px; text-transform: uppercase; letter-spacing: 1px;}
.nbr_messages {background-color: #eee; padding: 0 2px; margin-right: 2px;}
.nbr_notifications {color: #900; padding: 0 2px; margin-right: 2px;}
.date {font-size: 12px; color: #999; line-height: 18px;}
.minor {font-size: 12px}

/* IMAGES */
a img {border: 0px;}
img.location {border: 1px solid #222; padding: 1px;}
img.success_jgrowl {float: left; margin-right: 5px; width: 45px; height: 45px; border: 1px solid #000;}

/* NAV & SECTION */
.section {display: none;}
.nav {height: 20px; margin-bottom: 15px;}
.nav a {color: #333; display: block; float: left; text-transform: uppercase; padding: 0 6px 0 6px;}
.nav a:hover {background-color: #333; color: #fff; text-decoration: none;}
.nav a.selected {background-color: #666; color: #fff;}
.nav a.selected:hover {background-color: #333; color: #fff; text-decoration: none;}

/* CHANGELOG */
.update {
	position: relative;
	border-top: 1px solid #DDD;
	padding-top: 5px;
	padding-bottom: 10px;
}
.update .wrapper-type {float: left; width: 100px; text-align: right;}
	.type {
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		text-transform: uppercase;
		background-color: #333;
		color: #fff;
		font-size: 10px;
		font-weight: bold;
		padding: 3px 6px;
		margin-right: 10px;
		text-shadow: 0 1px 1px rgba(50,50,50,0.5)
	}
	.added {background-color: #7C29A9; color: #fff;}
	.fixed {background-color: #226EC7; color: #fff;}
	.improved {background-color: #97B931; color: #fff;}
	.new {background-color: #7c29a9; color: #fff;}
.update .title {margin-left: 100px; font-weight: bold; line-height: 18px;}
.update div.content {margin-left: 100px; line-height: 18px;}
.update .date {margin-left: 100px; font-size: 10px; color: #999; line-height: 18px;}

/* -------------------------------------------------------------------]
[                                                                     ]
[ 								PARTS                                 ]
[                                                                     ] 
[------------------------------------------------------------------- */

div.leftPart {
	width: 205px;
	float: left;
	margin: 0 20px 0 20px;
}

div.leftPart2 {
	width: 470px;
	float: left;
	margin: 0 10px 0 10px;
}

div.leftPart3 {
	width: 300px;
	float: left;
	margin: 6px;
	padding-left: 30px;	
}

/* -------------------------------------------------------------------]
[                                                                     ]
[ 								FORMS                                 ]
[                                                                     ] 
[------------------------------------------------------------------- */

input[type=text], input[type=password] {width: 300px; font-size: 14px; outline: none; padding: 6px; border: 1px solid #899BC1; margin-bottom: 3px;}

textarea#textile {width: 95%; height: 100px; border: 1px solid #aaa; padding: 5px;}

/* -------------------------------------------------------------------]
[                                                                     ]
[ 					           DIV#title                              ]
[                                                                     ] 
[------------------------------------------------------------------- */

h1 {
	display: none;
}

h2 {
	font-size: 18px;
	text-transform: uppercase;
	padding: 2px;
	background-color: #333;
	color: #fff;
	margin-top: 0;
	margin-bottom: 0;
}

div#prelude {
	letter-spacing: 1px;
	color: #888;
	text-align: justify;
    margin: 10px 0 20px 0;
}

div.space {
    margin-top: 20px;
}

span.darkText {color: #000; font-weight: bold;}
span.online {color: #090; font-size: 10px;}

/* FORUM */

a.topictitle, a.topictitle:visited {color: #333; font-weight: bold;}
a.topictitle:hover {text-decoration: underline;}

a.discussiontitle, a.discussiontitle:visited {color: #333; font-weight: bold;}
a.discussiontitle:hover {text-decoration: underline;}

a.jgrowl, a.jgrowl:visited {text-decoration: none; color: #fff;}
a.jgrowl:hover {text-decoration: underline;}

.notif {text-align: center; padding: 3px 6px 0px 6px; display: inline-block; color: #355F9C;}
.notif.not_seen {background-color: #355F9C; color: #fff;}
li.selected .notif {text-align: center; padding: 3px 6px 0px 6px; display: inline-block; color: #fff;}
li.selected .notif.not_seen {background-color: #fff; color: #355F9C;}

a.button {
	padding: 2px;
	margin: 2px 0;
	font-size: 16px;
	display: block;
	color: #fff;
	width: 100px;
}

a.big, input.big {
	width: 200px;
}

input.button {
	padding: 2px;
	margin: 2px 0;
	font-size: 16px;
	display: block;
	color: #fff;
	width: 100px;
	background: none;
	border: none;
	cursor: pointer;
	text-align: left;
	font-family: 'PT Sans', sans-serif;
}

a.button.green, input.button.green {background-color: #278827;}
a.button.blue, input.button.blue {background-color: #355F9C;}
a.button.red, input.button.red {background-color: #A72323;}
a.button.grey, input.button.grey {background-color: #999;}

a.button:hover, input.button:hover {
	background-color: #333;
	text-decoration: none;
}

.icon12 {margin-bottom: -2px;}

.options {position: absolute; top: 14px; right: 5px; display: none; width: 250px; text-align: right; padding-right: 5px;}
.options a, .options a:visited {text-decoration: none; color: #666; font-style: italic;}
.options a:hover {text-decoration: underline;}

.clearleft {clear: left;}
.clearright {clear: right;}

/* -------------------------------------------------------------------]
[                                                                     ]
[ 								MESSAGES                              ]
[                                                                     ] 
[------------------------------------------------------------------- */

div.msgAttention {
	border: 1px solid #C3A7A6;
	background: url("../images/theme/attention.gif") top left no-repeat #F3DDDC;
	background-position: 0 2px;
	color: #895956;
	padding: 4px 4px 4px 18px;
    margin: 5px;
}

div.msgInfo {
	border: 1px solid #F5D08F;
	background: url("../images/theme/info.png") top left no-repeat #FCECCE;
	background-color: #FCECCE;
	background-position: 0 2px;
	color: #E9AE48;
	padding: 4px 4px 4px 19px;
    margin: 5px;
}


