/* -------------------------------------------------------------------]
[ 					      ? DESIGN by Sayory                          
[ 					      CODENAME: yellow                           
[------------------------------------------------------------------- */

@import url("../common.css");

body {
	background: url("images/motif.jpg");
}

div#global2 {
	width: 1024px;
}

div#before {
	height: 150px;
	background: url("images/banner.jpg") no-repeat;
}

div#hmenu2 {
	height: 34px;
	background: url("images/hmenu.jpg") no-repeat;
}

div#vmenu1 {
	height: 30px;
	background: url("images/menu_top.jpg") no-repeat;
}

div#vmenu2 {
	background: url("images/menu_middle.jpg") repeat-y;
}

div#vmenu3 {
	height: 30px;
	background: url("images/menu_bottom.jpg") no-repeat;
}

div#footer {
	height: 84px;
	background: url("images/footer.jpg") no-repeat;
}

div#footer2 {
	width: 750px;
}

div#hmenu a, div#hmenu a:visited {text-decoration: none; color: #000;}
div#hmenu a:hover {text-decoration: none; color: #634d3a;}
